body {
  text-align: center;
  padding-top: 100px;
  background: rgb(14, 22, 25) url('../images/tentacles.png') bottom left no-repeat fixed;
  color: #96887b;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 18px;
}

.brews {
  text-align: left;
  width: 600px;
  max-width: 80vw;
  margin: 0 auto;
}

.logo {
  width: 600px;
  max-width: 80vw;
}

h4 span {
  font-weight: normal;
}

.social-links a {
  text-decoration: none;
}

.social-links img {
  width: 50px;
  margin: 10px;
}

.hours p {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  color: #9e9867;
}

a,
a:visited {
  color: #96887b;
}

a:hover {
  color: #baa999;
}
